bokeh==2.4.2
cloudpickle==2.2.0
colorama==0.4.6
colorcet==2.0.6
comps==0.0.1.dev0
debugpy==1.6.6
debugpy==1.6.4
Flask==1.1.2
FMPy==0.2.25
gym==0.26.2
imageio==2.9.0
matlab==0.1
matplotlib==3.6.2
ModelicaRes==0.12.2
networkx==2.5
numpy==1.23.5
pandas==2.0.3
pandasgui==0.2.13
plotly==5.1.0
Pyomo==5.7.1
pyproj==3.4.1
regex==2022.3.15
Requests==2.31.0
scikit_learn==1.2.0
scipy==1.11.4
seaborn==0.11.2
setuptools==65.5.0
stable_baselines==2.10.1
startup==0.4.0
streamlit==1.15.2
tensorflow==2.9.2
tensorflow_intel==2.12.0
tensorflow_probability==0.13.0
user_config==1.0a10
